<p id="notice"><%= notice %></p>

<h1>Event</h1>

<%= render 'event_attandees/form', event_attandee: @event_attandee %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
